{% extends "index.html" %}

{% block title %}Menu{% endblock %}

{% block content %}

<div id="menu-section">
    <div id="menu-navbar">
        <a class="menu-links" href="{% url 'coffee_view' %}">COFFEE</a>
        <a class="menu-links" href="{% url 'frappe_view' %}">FRAPPE</a>
        <a class="menu-links" href="{% url 'kids_view' %}">KIDS</a>
        <a class="menu-links" href="{% url 'food_view' %}">FOOD</a>
        <a class="menu-links" href="{% url 'specialty_view' %}">SPECIALTY</a>
        <a class="menu-links" href="{% url 'lotus_view' %}">LOTUS</a>
        <a class="menu-links" href="{% url 'other_view' %}">OTHER</a>
    </div>

    <h1>Menu</h1>

    {% block menu %}
    {% endblock menu %}

</div>

{% endblock content %}