{% extends "index.html" %}

{% block title %}Owner Portal{% endblock title %}

{% block content %}

<div id="owner-portal-actions">
    <h1>Welcome to the Owner Portal!</h1>
    <p>this is where the magic happens</p>
    <div class="owner-action-panel">
        <h1>Newsletter</h1>
        <a class="owner-action" href="{% url 'create_post_view' %}">create a new newsletter post</a>
        <a class="owner-action" href="{% url 'update_post_view' %}">update an existing newsletter post</a>
    </div>

</div>

{% endblock content %}