{% extends "index.html" %}
{% load static %}

{% block content %}

<div id="intro-section">
    <h1 id="home-title-1">Starbright</h1>
    <h2 id="home-title-2">CAFE</h2>
    <a id="view-menu-link" target=blank href="https://order.dripos.com/Starbright-Cafe">← view the menu →</a>
    <img id="divider" src="{% static '/images/gold-divider.png' %}">
</div>

{% if user.is_superuser %}

<a href="{% url 'owner_portal' %}">
    Owner Portal
</a>

{% endif %}

{% if user.is_authenticated %}


{% endif %}

<div id="previews-section">
    <div class="preview-card">
        <a href="{% url 'community_view' %}">the latest from the newsletter:</a>
        <p>{{ newsletter.title }}</p>
    </div>
    <div class="preview-card">
        <a></a>
    </div>
    <div class="preview-card">
        <a href="{% url 'create_review' %}">leave a review:</a>
    </div>
</div>

{% endblock content %}