{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Starbright Cafe{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <main>
        <div id="navbar">
            <div id="nav-items">
                <div id="always-visible-nav">
                    <a id="logo-anchor" href="{% url 'home' %}">
                        <img id="logo" src="{% static '/images/logo.jpg' %}">
                    </a>
                </div>
                <div id="mobile-hidden-nav">
                    <a class="nav-links" href="{% url 'behind_counter_view' %}">BEHIND THE COUNTER</a>
                    <a class="nav-links" href="{% url 'community_view' %}">COMMUNITY</a>
                </div>
            </div>
            <a target=blank href="https://order.dripos.com/Starbright-Cafe" id="shopping-cart-link">
                <img id="shopping-cart" src="{% static '/images/shopping-cart.png' %}">
            </a>
        </div>

        {% block content %}
        {% endblock content%}

        <div id="contact-section">
            <h1 id="contact-title">Contact us</h1>
        </div>
    </main>
</body>

</html>