{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Starbright Cafe{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <main>
        <div id="navbar">
            <div id="nav-items">
                <div id="always-visible-nav">
                    <a id="logo-anchor" href="{% url 'home' %}">
                        <img id="logo" src="{% static '/images/logo.jpg' %}">
                    </a>
                </div>
                <div id="mobile-hamburger">
                    <div class="hamburger hamburger--arrow js-hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                    <div id="mobile-hidden-nav">
                        <a class="nav-links" href="{% url 'behind_counter_view' %}">BEHIND THE COUNTER</a>
                        <a class="nav-links" href="{% url 'community_view' %}">COMMUNITY</a>
                        {% if user.is_superuser %}
                        <a class="nav-links" href="{% url 'owner_portal' %}">OWNER PORTAL</a>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button class="nav-links" type="submit">Log Out</button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            <a target=blank href="https://order.dripos.com/Starbright-Cafe" id="shopping-cart-link">
                <img id="shopping-cart" src="{% static '/images/shopping-cart.png' %}">
            </a>
        </div>

        {% block content %}
        {% endblock content%}

        <div id="contact-section">
            <div id="column-1">
                <h1 id="contact-title">Contact us</h1>
                <div id="contact-section-1">
                    <p class="address">9 Front Street Suite A</p>
                    <p class="address">Coffeeville, MS 38922</p>
                    <a id="phone" href="tel:+16627092206">(662) 709-2206</a>
                    <a id="email" href="mailto:starbrightcafems@gmail.com">starbrightcafems@gmail.com</a>
                    <div id="socials">
                        <a id="facebook" target=blank href="https://www.facebook.com/people/Starbright-Cafe/61584437474116/">
                            <img src="{% static '/images/facebook.png' %}">
                        </a>
                        <a id="instagram" target=blank href="https://www.instagram.com/starbrightcafems/">
                            <img src="{% static '/images/instagram.png' %}">
                        </a>
                        <a id="tiktok" target=blank href="https://www.tiktok.com/@starbright.cafe">
                            <img src="{% static '/images/tiktok.png' %}">
                        </a>
                    </div>
                </div>
            </div>
            <div id="contact-divider"></div>
            <div id="column-2">
                <h1 id="hours-title">Store Hours</h1>
                <div id="hours-info">
                    <div id="store-days">
                        <p>Sunday & Monday</p>
                        <p>Tuesday</p>
                        <p>Wednesday</p>
                        <p>Thursday</p>
                        <p>Friday</p>
                        <p>Saturday</p>
                    </div>
                    <div id="store-hours">
                        <p>Closed</p>
                        <p>6:30 AM - 12:00 PM</p>
                        <p>6:30 AM - 2:00 PM</p>
                        <p>6:15 AM - 12:00 PM</p>
                        <p>6:00 AM - 2:00 PM</p>
                        <p>8:00 AM - 2:00 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        var hamburger = document.querySelector(".hamburger");
        var dropdown = document.querySelector("#mobile-hidden-nav");

        hamburger.addEventListener("click", function() {
            hamburger.classList.toggle("is-active");
            dropdown.classList.toggle("is-active");
        });
    </script>
</body>

</html>

