{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Starbright Cafe{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <main>
        <div id="navbar">
            <div id="nav-items">
                <a id="logo-anchor" href="{% url 'home' %}">
                    <img id="logo" src="{% static '/images/logo.jpg' %}">
                </a>
                <a class="nav-links" href="{% url 'behind_counter_view' %}">BEHIND THE COUNTER</a>
                <a class="nav-links" href="{% url 'menu_view' %}">MENU</a>
                <a class="nav-links" href="{% url 'community_view' %}">COMMUNITY</a>
                <a class="nav-links" href="{% url 'merch_view' %}">MERCH</a>
            </div>
            <a href="{% url 'menu_view' %}" id="shopping-cart-link">
                <img id="shopping-cart" src="{% static '/images/shopping-cart.png' %}">
            </a>
        </div>

        {% block content %}
        {% endblock content%}

        <div id="contact-section">
            <h1 id="contact-title">Contact us</h1>
        </div>
    </main>
</body>

</html>