{% extends "index.html" %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="login-page">
    {% comment %} <div class="login_form_container"> {% endcomment %}
        <div class="login-panel">
            
            <div class="login-header">
                <h1>Welcome back</h1>
            </div>

            <form method="POST" class="auth-form">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="auth-actions">
                    <button type="submit">Login</button>
                </div>
            </form>

        </div>
    {% comment %} </div> {% endcomment %}
</div>

{% endblock content %}