{% extends "index.html" %}

{% block content %}
<div class="news_update_form_container">
    <div class="hero">
        <p class="kicker">Owner Portal</p>
        <h1 class="title">Update</h2>
        <p class="intro">Select a newsletter to update</p>
    </div>

    {% if page_obj %}
    <div id="newslist">
        <div id="news-column-1">
            <h2>Title</h2>
            {% for newsletter in page_obj %}
                <p>{{ newsletter.title }}</p>
            {% endfor %}
        </div>
        <div id="news-column-2">
            <h2>Action</h2>
            {% for newsletter in page_obj %}
            <div id="newsletter-actions">
                <a href="{% url 'update_post_view' newsletter.id %}">Edit</a>
                <a href="{% url 'news_delete' newsletter.id %}">Delete</a>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- Pagination -->
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">&laquo;</a>
        {% endif %}

        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">&raquo;</a>
        {% endif %}
    </div>

    {% else %}
        <p>No newsletters found.</p>
    {% endif %}
</div>

{% endblock content %}
