{% extends "index.html" %}
{% block content %}

<div class="auth-wrapper">

    <div>
            Create Account
        </div>

            <form method="POST" class="auth-form">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="auth-actions">
                    <button type="submit">
                        Create Account
                    </button>
                </div>
            </form>


            <div class="auth-footer">
                <span>Already have an account?</span>
                <a href="{% url 'login' %}">
                    <button type="button">
                        Login
                    </button>
                </a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}